body {
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
  margin:0;
}

ol {list-style-type:upper-alpha;}

#app {
  padding:10px 32px;
}

.title img {max-width:100% !important; height: auto !important;}

table {
  max-width: 100% !important;
  width: auto !important;
}

h3.blue {
  color: #4a90e2;
}

.hidden {
  display:none;
}

.analaysis {
  border-top: 2px solid #eee;
}

.analaysis  h3.blue {
  margin-left: -8px;
}

.blur {
  -webkit-filter: blur(8px);
  -moz-filter:blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.right img{
  width: 26px;
}

.circle-font {
  border-radius: 360px;
  border: 1px solid #4a90e2;
  color: #4a90e2;
  display:  inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
}

input.underline {
  border:none;
  border-bottom:1px solid #eee;
  line-height:2;
}
input.underline:focus {
  outline:none;
  border-bottom:1px solid #eee;
  line-height:2;
}
input.underline[disabled]{
  background-color:#fff;
  line-height:2;
}
