ol {padding:0;list-style-type:upper-alpha;list-style-position: inside;}
ol > li {padding-left:30px;position:relative;}
ul > li {padding-left:30px;position:relative;list-style-type:none;}
ol > li >.iradio_flat-youyu,.icheckbox_flat-youyu {
  position: absolute !important;
  left: 0;
  top: 8px;
}
ul > li >.iradio_flat-youyu,.icheckbox_flat-youyu {
  position: absolute !important;
  left: 0;
  top: 2px;
}

ol.fill>li {
  padding-left:0;
  list-style-type: none;
  margin-top: 10px;
}

.single-youyu {
  margin-top: -1px;
}

.multiple-youyu {
  margin-top: 4px;
}
