
ol {padding:0;list-style-type:upper-alpha;list-style-position: inside;}
ol > li {padding-left:70px;position:relative;}
ul > li {padding-left:70px;position:relative;list-style-type:none;}
ol > li > .iradio_flat-youyu,.icheckbox_flat-youyu {
  position: absolute !important;
  left: 40px;
  top: 8px;
}
ul > li >.iradio_flat-youyu,.icheckbox_flat-youyu {
  position: absolute !important;
  left: 40px;
  top: 2px;
}

ol > li > .right {
  position: absolute;
  left:0;
  top: 0px;
}

ol > li > .right.single {
  position: absolute;
  left:0;
  top: 6px;
}

ul > li > .right {
  position: absolute;
  left:0;
  top: 2px;
}

ol > li > .right.fill {
  position: absolute;
  left:0;
  top: 0;
}

h3.blue {
  color: #4a90e2;
}

ol.fill>li {
  padding-left:40px;
  list-style-type: none;
  margin-top: 10px;
}

.single-youyu {
  margin-top: -2px;
}

.multiple-youyu {
  margin-top: 4px;
}
