
body {
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
  margin:0;
}

#app {
  padding:10px 32px;
}

.title img {max-width:100% !important; height: auto !important;}
ol {padding:0;list-style-type:upper-alpha;list-style-position: inside;}
ol > li {padding-left:80px;position:relative;}
ol > li > .right {
  position: absolute;
  left:0;
  top: 8px;
}

ol > li > .right.fill {
  position: absolute;
  left:0;
  top: 0;
}

.iradio_flat-blue,.icheckbox_flat-blue {
  position: absolute !important;
  left: 50px;
  top: 8px;
}

input.underline {
  border:none;
  border-bottom:1px solid #000;
}
input.underline:focus {
  outline:none;
  border-bottom:1px solid #000;
}
input.underline[disabled]{
  background-color:#fff
}

h3.blue {
  color: #4a90e2;
}

ol.fill>li {
  padding-left:50px;
}

table {
  max-width: 100% !important;
  width: auto !important;
}

.analaysis {
  border-top: 2px solid #eee;
}
